<h1>Family Gifts</h1>
<span>Welcome
    {{!-- {{if islogedin}} --}}
    {{#each userObject}}
    {{this.firstName}}
    {{/each}} !</span>
<span>> <a href="/profile"> Profile</a></span>
<span>> <a href="/post-all"> Find Your Family and share your gifts</a></span>
<span>> <a href="/post-create"> Create Family Tree</a></span>
{{!-- <span>></span><a class="nav-link" href="/family-tree">Add gift to family tree</a> --}}
<hr>
{{!-- Create Family Tree
<a href="/post-create">CREATE TREE</a>
{{#each this}}
{{this.reviewContent}}
{{/each}} --}}

{{!--
<h1>Reviews</h1>

<br> --}}

{{!-- <div>
    <h3>In the DB we have {{numberOfBooks}} books</h3>
</div>

<hr>

{{#each books}}
<div>
    <h3>{{ title }}</h3>
    <a href="/books/{{_id}}"> See details </a>
    <br><br>
    <form action="/books/{{_id}}/delete" method="POST">
        <button>🗑 DELETE</button>
    </form>
</div>
<hr>
{{/each}} --}}


{{!--
<h2>Posts</h2>
{{#each this}}
<div>
    <h5><a href="/post/{{_id}}">{{title}}</a> - {{author.username}}</h5>
    <p>{{content}}</p>
</div>
{{/each}} --}}